@media (min-width: 992px) and  (max-width: 1024px) { /* ipad mini lanscape mode */
  #mobilemenu .img-75 {
    width: 100% !important; }

  #mobilemenu .img-50 {
    width: 100% !important; }   
    .slider-container {
      margin: -1.5rem -1rem 1em -1.5rem; }      
}