  #mobilemenu .img-75 {
    width: 75% !important; }

  #mobilemenu .img-50 {
    width: 75% !important; }

  #instafeed img {
    width: 15%; }

  .qty-input-field {
    width: 20%; } 

  #add-cart-menu .dropdown-menu, #add-cart-menu .dropdown-toggle
  {width:50%}